{% extends "base.html" %}
{% block title %}Είσοδος{% endblock %}
{% block content %}

<h1 class="title" style="color:var(--accent)">Καλώς ήρθατε στο Task Manager</h1>

<div class="box">
  <h2 class="subtitle">Σύνδεση</h2>
  <form method="post" action="{{ url_for('login_password') }}">
    <div class="field">
      <label class="label">Όνομα Χρήστη</label>
      <input class="input" name="username" required>
    </div>
    <div class="field">
      <label class="label">Κωδικός</label>
      <input class="input" type="password" name="password" required>
    </div>
    <button class="button is-link" style="background:var(--accent)">Σύνδεση</button>
  </form>
</div>

{% endblock %}
