{% extends "base.html" %}{% block title %}Οδηγίες{% endblock %}
{% block content %}
<div class="cardish">
  <h1 class="title is-4">Οδηγίες χρήσης</h1>
  <p class="content">
    Εδώ θα προστεθούν αναλυτικές οδηγίες, βίντεο και παραδείγματα χρήσης της πλατφόρμας.
    Προς το παρόν:
  </p>
  <ul>
    <li>Ο κάθε χρήστης βλέπει τις εργασίες του στον «Πίνακα».</li>
    <li>Η καρτέλα «Πρόοδος» δείχνει την ολοκλήρωση όλων των χρηστών.</li>
    <li>Οι «Ρυθμίσεις» επιτρέπουν αλλαγή κωδικού και χρώματος.</li>
    <li>Οι «Ομάδες» εμφανίζονται σε όλους· η «Διαχείριση Ομάδων» μόνο σε Admin.</li>
  </ul>
</div>
{% endblock %}
